*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#navigation{
    width: 100%;
    min-height: 100px;
    background-color:rgb(255, 255, 255);
    line-height: 100px;
    align-items: center;
    padding-left: 5%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 80px;
}
.row{
    width: 100%;
    min-height: 40px;

}
.column{
    width: 13%;
    min-height: 40px;
    background-color:white;
    float: left;
    align-items: center;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}
.column:nth-child(3),.column:nth-child(4)
{

    margin-right: 1%; 
    margin-top: 1%;
}
.column:nth-child(2){
    margin-left: 5%;
    margin-right: 20px;
    margin-top: 1%;
}
.column:nth-child(1){

    margin-right: 2%;
    margin-top: 7px;
    padding-right: 5px;
}

.column-cc{
    width: 8%;
    min-height: 40px;
    background-color:white;
    float: left;
    align-items: center;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}
.column-cc:nth-child(5),.column-cc:nth-child(6){
    margin-left: 0px;
    margin-right: 1%; 
    margin-top: 1%;
}
.clearfix ::after{
    content: "";
    display: block;
    clear: both;
}
.logo1{
    width: 250px;
    min-height: 20px;
    line-height: 20px;
    margin-left: 0px;
    margin-top: 10%;

}
.hd{
    font-size: 50px;
    font-weight: 1000;
     padding-top: 40px;
}
.instrumentsec-2{
    height: 650px;
    width: 85%;
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 20px;
    background-color: white;
}
 .instrumentleft-sec{
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-inline-start: 130px;
}
.instrumentright-sec{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.para1{
    font-size: 18px;
    font-weight: 500;
    width: 450px;
    min-height: 30px;
    line-height: 30px;
}
.ig1{
    height: 450px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.logo2{
    width: 400px;
    min-height: 20px;
    line-height: 20px;
}
#lon{
    font-size: xx-small;
    padding-top: 10px;
}
.b1{
    margin-top: 10px;
    width: 120px;
}
.b2{
    margin-top: 10px;
    width: 90px;
    margin-left: 50px;
}