*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navi{
    height: 60px;
    width: 100%;
    display: flex;
}
.left{
    width:15%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.right{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid_options{
    position: relative;
    height: 100% auto;
    padding-top: 10px;
}
.sub{
    font-size: 18px;
    font-weight: bold;

}
.sub_options{
    position: absolute;
    display: none;
}
.sub_options ul{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100% auto;
    padding: 10px;
    margin-left: -5px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0,0.1);  
    border-radius: 5px;  
}
.mid_options:hover .sub_options,
.mid_options:focus .sub_options{
    display: block;
}
.sub_options ul ul{
    padding: 10px 5px 15px 5px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 180px;

}
.nextIcon{
    position: relative;
    padding-right: 10px;
}

.nextIcon::after{
    content: "\f105";
    position: absolute;
    font-family: "FontAwesome";
}
.account{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00baf2;
    padding: 2px 2px 2px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}
.pic{
    padding-left: 5px;
    margin-left: 2px;
}
.kyc{
    width: 100%;
    min-height: 40px;
    background-color: rgb(230, 229, 229);
    line-height: 40px;
    text-align: center;
    margin-top: 5px;
    font-weight: medium;
    margin-bottom: 5px;
    font-size: large;
}
.sec-2{
    height: 550px;
    width: 100%;
    display: flex;
}
.left-sec{
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-inline-start: 130px;
}
.right-sec{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.logo{
    min-height: 90px;
    line-height: 90px;
    width: 90px;
    padding-top: 120px;
}
.hd{
    font-size: 40px;
     font-weight: 1000;
     padding-top: 40px;
}
.para{
    font-size: 20px;
    font-weight: 500;
    width: 450px;
    min-height: 30px;
    line-height: 30px;

}
.sbt{
    width: 100px;
    min-height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    background-color: #00baf2;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    font-weight:bolder;
    font-size: 200;
}
.sbt:hover {
    background-color: #002970;
    color: white;
  }
.bt{
    background-color: black;
    color: white;
    padding: 15px 24px 15px 24px;
    border-radius: 40px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 10px;
}
.ig{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
svg{
    margin-left: 10px;
}
.recharge{
    width: 100%;
    background-color: #00baf2;
    color: white;
    min-height:300px;
}
.inner-content{
    width: 80%;
    margin: auto;
    font-weight: bolder;
}
.head{
    font-size: 30px;
    padding-top: 30px;
}
.re-opt{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}
.mob{
    height: 64px;
    width: 64px;
    transition: transform .2s;
}
.in{
    font-weight: bold;
    min-height: 25px;
    line-height: 25px;
    padding-top: 1%;
    text-align: center;
}
.mob:hover {
    transform: scale(1.1); 
    transform: scale(1.1); 
    transform: scale(1.1); 
  }
  .booking{
    width: 100%;
    background-color: #002970;
    color: white;
    min-height:300px;
}
.inner-content2{
    width: 80%;
    margin: auto;
    font-weight: bolder;
}
.head2{
    font-size: 30px;
    padding-top: 30px;
}
.book-opt{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 30px;
}
.mob:hover {
    transform: scale(1.1); 
    transform: scale(1.1); 
    transform: scale(1.1); 
  }
  .instruments{
    background-color:rgb(231, 235, 239);
  }
#inst-pyt{
background-color:rgb(231, 235, 239);
padding-top: 50px;
margin-left: 120px;
font-weight: 1500;
}
 .instrumentsec-2{
    height: 650px;
    width: 85%;
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20px;
    box-shadow: 20px;
    background-color: white;
}
 .instrumentleft-sec{
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-inline-start: 130px;
}
.instrumentright-sec{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.para1{
    font-size: 18px;
    font-weight: 500;
    width: 450px;
    min-height: 30px;
    line-height: 30px;
}
.log{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 60%;
    min-height: 70%;
    box-shadow: 0 8px 32px 0 rgba(119, 119, 127, 0.37);
    background:hsl(0, 30%, 95%);
    line-height: 80%;
    border-radius: 20px;
    align-items: center;
    margin-left: 240px;
    margin-top: 100px;
    overflow: auto;
  }
#segment-1{
    width: 50%;
    min-height: 70%;
    background-color: rgb(242, 230, 230);
    float: right;
    border-radius: 20px;
  }
#segment-2{
    width: 50%;
    min-height: 70%;
    background-color: #cfe7ef;
    float: left;
    border-radius: 20px;
}
.clearfix ::after{
    content: "";
    display: block;
    clear: both;
}
.seg{
  background-color: #cfe7ef;
  margin-top: 40px;
  margin-left: 20px;
}
h3{
  font-weight: bolder;
}
.seg2{
  background-color: #cfe7ef;
  margin-top: 30px;
  line-height: 3;
  margin-left: 20px;

}
i{
  color: #00baf2;
}
.vid{
  color:#00baf2;
  margin-left: 20px;

}
.vid1{
  margin-top: 30px;
  font-weight:bold;
}
.ime{
  position: relative;
  height: auto;
}
.crt{
  padding-top: 100px;
  margin-left: 20px;
}
.py{
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(139, 166, 193);
  background-color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  min-height: 40px;
}
.plystr{
  border-radius: 10px;
  box-shadow: 20px;
  background-color: #cfe7ef;
  width: 30%;
  margin-top: 20px;
  margin-left: 20px;

}
.py1{
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(139, 166, 193);
  background-color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  min-height: 40px;
  float: right;
  margin-bottom: 40px;
  margin-right: 120px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.logo1{
    min-height: 150px;
    line-height: 150px;
    width: 150px;
    padding-top: 120px;
}
.ig1{
    height:500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-top: 20px;
}
.btlearn{
    background-color: #002970;
    color: white;
    padding: 15px 24px 15px 24px;
    border-radius: 40px;
    border: 0px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 20px;
}
.btlearn:hover, .btlearn:active{
    background-color: #00baf2;
}